<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.3/jquery.timeago.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
    <script src="/js/controls.js"></script>
    <script src="/js/ws.js"></script>
</head>
<body>

<section class="section">
    <div class="container">

        <h1 class="title has-text-weight-light">
            Bin Inspection
        </h1>

        <p class="buttons">
            <a id="play-pause-btn" class="button is-outlined">
                <span class="icon">
                    <i id="play-pause-icon" class="fas fa-pause"></i>
                </span>
            </a>
            <a id="next-btn" class="button is-outlined" style="display: none;">
                <span class="icon">
                    <i class="fas fa-sticky-note"></i>
                </span>
                <span id="request-queue-count">
                    0
                </span>
            </a>
        </p>

        <hr>

        <div id="http-request-template" class="container">

            <div class="notification">

                <div class="message is-link">
                    <p class="message-body">
                        <span id="timestamp">July 17, 2008</span> <small>(<time id="timeago-time" class="timeago" datetime="2008-07-17T09:24:17Z" title="July 17, 2008"></time></small>) &mdash;
                        <strong>HTTP Method: </strong> <span id="http-request-method">POST</span> &mdash;
                        <strong>Response time: </strong> <span id="http-request-response-time">123 ms.</span>
                    </p>
                </div>

                <table id="http-request-headers" class="table is-bordered is-fullwidth">
                    <thead>
                    <th class="has-text-link">HTTP Headers</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong>Test1:</strong> Value1</td>
                    </tr>
                    <tr>
                        <td><strong>Test2:</strong> Value2</td>
                    </tr>
                    </tbody>
                </table>

                <table id="http-request-query-parameters" class="table striped is-bordered is-fullwidth">
                    <thead>
                    <th class="has-text-link">Query Parameters</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong>Test1:</strong> Value1</td>
                    </tr>
                    <tr>
                        <td><strong>Test2:</strong> Value2</td>
                    </tr>
                    </tbody>
                </table>

                <table class="table striped is-bordered is-fullwidth">
                    <thead>
                    <th class="has-text-link">Request Body</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
<pre id="http-request-body-content">{
    "test": "hest"
}</pre>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</section>

<script type="text/javascript">
    var binIdentifier = "[[${model.binIdentifier}]]";
</script>

</body>
</html>
